<img class="center" src="assets/logo.jpg">
<h1>Board of Directors</h1>
1. President: Mr. Ashish Barua<br>
2. Vice-president-1: Mr. Bivash Baran Chowdhury<br>
3. Vice-president-2: Mr. Apollo Barua<br>
4. General Secretary: Mr. Sanath Barua<br>
5. Organizing Secretary: Mr. Shantanu Barua<br>
6. Organizing Secretary: Mr. Rupayan Barua<br>
7. Treasurer: Mr. Saikat Barua<br>
8. Assistant Finance Secretary (Asstt. Treasurer): Ms. Mita Barua<br>
9. Publications and Publicity Secretary-1: Ms. Anusree Barua<br>
10.Publications and Publicity Secretary-2: Mr. Ripon Barua<br>
11.Publications and Publicity Secretary-3: Ms. Anti Barua<br>
12.Member: Mr. Uday Shankar Barua<br>
13.Member: Mr. Tapan Barua<br>
14.Member: Mr. Shantanu Barua Manna<br>
15.Member: Mr. Punya Barua<br>
16.Member: Mr. Avijit Barua<br>
17.Member: Mr. Ananya Bikash Barua<br>
18.Member: Ms. Shova Barua<br>