<img class="center" src="assets/logo.jpg">
<h1 class="header">Welcome to BSO</h1>

<p class="content">Welcome to the Buddhist Society of Ontario (BSO) and the Bangladesh Buddhist Vihara of Toronto (BBVT).
Our organization was founded by Bangladeshi immigrants who have made Ontario their home, driven by the shared 
goal of preserving, nurturing, and promoting our cultural and religious values. We extend a warm welcome to anyone interested 
in learning about our activities and joining our vibrant community</p>

<button routerLink="/bso" class="center">Find More About Us</button>
