<img class="center" src="assets/logo.jpg">
<h1 class="header">About US</h1>

<span class="content">The Buddhist Society of Ontario (BSO) extends its sincere appreciation for your interest in
    visiting our website and investing your valuable time in learning about our organization.

    <p>BSO was established by Bangladeshi Buddhists who had immigrated to Canada and chose Ontario as their new home. Recognizing the
    importance of preserving, practicing, and promoting their socio-religious culture, they came together under
    one collective vision. BSO was formed in October 2017 and officially received a charitable status in July 6,
    2021 (Registered Charity Number 79314 2936 RR0001).</p>

    <p>In its early years, BSO members gathered to celebrate their religious traditions at Sinhalese and Burmese Buddhist temples. Cultural events took place in the homes of our
    dedicated members.</p>

    <p>On May 31, 2018, we acquired property at 10 Harrow Street, Mississauga, Ontario, with the
    aim of establishing a dedicated temple. This ambitious project was made possible through the unwavering
    commitment and support of our founding member families. Under the patronage of Ven. Dr. Bhante Saranapala,
    we embarked on the journey to create a place of worship and reflection.</p> 

    <p>Originally named the 'Toronto Buddhist Monastery and Meditation Centre (TBMMC),' our temple underwent a name change in 
    2023 to become the 'Bangladesh Buddhist Vihara of Toronto (BBVT).'</p>

    <p>From the very beginning, BSO has been dedicated to serving charitable causes both within Canada and abroad. Our
    initiatives include supporting local food banks, aiding homeless individuals, and providing assistance to disadvantaged
    families overseas.</p>

    <p>BSO is managed by a dedicated committee and relies on the generous financial support of our member families. We are 
    grateful for any contributions from our visitors and issue official tax receipts at the end of each year.</p>

    <p>We invite you to explore our website further to learn more about our activities, events, and how you can get involved in our
    vibrant and compassionate community.</p>

    Thank you for being a part of our journey
</span>
