.valign-center {
    display: inline-flex;
    align-items: center;
}

.page-header{
    text-align: center;
}

.content{
    font-size: large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }