<img class="center" src="assets/logo.jpg">
<h1 class="header">Bangladesh Buddhist Vihara of Toronto (BBVT)</h1>

<span class="content">
    This is the first Buddhist temple in Canada established by the Bangladeshi origin immigrants. Who are deeply inspired by 
    the Venerable Bhante Dr. Saranapala.

    <p>After the establishment of the temple in 2018, we have been honored to host various religious activities including
    meditation sessions each year, including the observance of the three-month rainy retreat by renowned monks from different
    countries. Here is a list of esteemed monks who have undertaken this retreat at our temple:</p>
    
    <p><br>In 2019, we welcomed Venerable Indiparape Dhammasiri Maha Thero from Sri Lanka.<br><br>

    In 2020, Venerable Shilabhadra Mahathero from Bangladesh graced our temple.<br><br>

    The year 2021 saw the presence of Venerable Bhante Kusala from the USA.<br><br>

    In 2022, we were blessed by the presence of Venerable Buddhananda Mahathero from Bangladesh.<br><br>

    For the year 2023, we are honored to host Venerable Jinapal Mahathero from Bangladesh and Venerable M. Dharmaratna 
    Mahathero from India.<br><br>
    
    These revered monks have contributed to the spiritual enrichment of our temple and community through their dedicated
    practice and teachings. We are deeply grateful for their presence and guidance</span>
